.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(188, 208, 226);

  &__container {
    background-color: rgb(255, 255, 255);
    width: 30%;
    height: 80vh;
    border: 1px solid lightgray;
    padding: 5% 3% 5% 3%;
    -webkit-box-shadow: 1px 6px 40px -11px rgba(138, 127, 138, 1);
    -moz-box-shadow: 1px 6px 40px -11px rgba(138, 127, 138, 1);
    box-shadow: 1px 6px 40px -11px rgba(138, 127, 138, 1);
  }
  &__title {
    text-align: center;
    color: cadetblue;
    height: 10vh;
    margin-top: 10%;
    margin-bottom: 10%;
    display: block;
  }
  &__footer {
    position: fixed;
    bottom: -22px;
    color: rgb(59, 99, 100);
    width: 100%;
    height: 10vh;
    padding-left: 20px;
  }
  &__container-Advert {
    width: 30%;
    height: 80vh;
    padding: 0;
    margin: 0;
  }
}
// media queries
// width

@media (max-width: 1024px) {
  .login {
    &__container {
      width: 40%;
    }
    &__container-Advert {
      width: 40%;
    }
  }
}
@media (max-width: 992px) {
  .login {
    &__container-Advert {
      display: none;
    }
  }
  .login {
    &__container {
      width: 50vw;
    }
  }
}
@media (max-width: 576px) {
  .login {
    &__container-Advert {
      display: none;
    }
  }
  .login {
    &__container {
      width: 80vw;
      padding: 10% 3% 5% 3%;
    }
  }
}
// height

@media (max-height: 500px) {
  .login {
    &__title {
      margin-top: 10%;
      margin-bottom: 0%;
    }
    &__container {
      padding: 1.5% 3% 0.5% 3%;
    }
  }
}
