.login{
    background-color: #23272C;
    height: 40vh;
    display: flex;
    border-bottom-left-radius: 190px;
    border-bottom-right-radius: 190px;
    &__title{
        color: white;
        margin: auto;
    }
    &__footer{
        position: fixed;
        bottom: 10px;

    }
}