.login{
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: rgb(188, 208, 226);
    
    &__container{
        background-color: rgb(255, 255, 255);
        margin: auto;
        width: 380px;
        height: 73vh;
        border: 1px solid lightgray;
        padding: 60px 50px 30px 60px;
        -webkit-box-shadow: 1px 6px 40px -11px rgba(138,127,138,1);
        -moz-box-shadow: 1px 6px 40px -11px rgba(138,127,138,1);
        box-shadow: 1px 6px 40px -11px rgba(138,127,138,1);
    }
    
    &__title{
        text-align: center;
        color: cadetblue;
        height: 10vh;
        margin-bottom: 20px;
        display: block;
    }
    &__footer{
        position: fixed;
        bottom: -22px;
        color: rgb(59, 99, 100);
        width: 100%;
        height: 10vh;
        padding-left: 20px;
    }
    
}


