.input-dropdown{
    border: 1px solid #e3e3e3;
    border-top: none;
    border-right: none;
    border-left: none;;
    border-radius: 4px;
    color: #565656;
    height: 40px;
    width: 100%;
}
.dropdown-molecule{
    position: relative;
}
.dropdown-molecule{
    width: 100%;
}