
.home-template{
    width: 100%;
    display: flex;
    .sidebar-menu{
    }
    .container-components{
        width: 80%;
        background-color: #D5D8DE;
        margin-top: 10%;
        padding: 10px;
    }
}
