table{
    border-spacing: 0;
    border: 0;
}

.row-table-item{
    background-color: white;
    padding-bottom: 10px;
}
tr td {
    margin-bottom: 10px;
    padding-bottom: 10px;;
    font-family: 'Open Sans';
}