table{
    border-spacing: 0;
    border-collapse: collapse;
    padding: 15px;
    margin: auto;
    width: 100%;
    tbody>tr:nth-of-type(odd) {
        background-color: rgb(236, 236, 236);
    }
}
.table{
    overflow: scroll;
    height: 250px;
}

.row-table-item{
    padding-bottom: 10px;
}

tr {
    border-bottom: 2px solid #ddd;
    
    td {
        padding: 10px;
        font-family: 'Open Sans';
        font-size: 14px;
        white-space: pre-line;
    }
    th{
        border-bottom: 2px solid #ddd;
        border-bottom-width: 1px;
        font-size: 12px;
        text-transform: uppercase;
        color: #9a9a9a;
        font-weight: 400;
        padding-bottom: 5px;
        padding: 12px 8px;
        vertical-align: middle;
        border-color: #e3e3e3;
    }
}

